/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        display: none;
    }

    .header-title img {
        max-width: 440px;
        margin-bottom: -30px;
        margin-top: -80px;
    }

    .header-title hr {
        width: 40%;
        margin-bottom: -15px;
    }

    .more-info {
        font-size: 23px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 45px;
        padding-right: 45px;
    }

    .more-info2 {
        font-size: 23px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .title2, .title3, .title4, .title5 {
        font-size: 55px;
        letter-spacing: -7px;
    }

    .music1 h2, .music2 h2 {
        font-size: 33px;
        margin-top: -25px;
    }

    .music1 sub, .music2 sub {
        margin-top: 0px;
    }

    .music1 p, .music2 p {
        font-size: 20px;
        margin-left: 0px;
        margin-right: 20px;
    }

    .table-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        width: 90%;
        text-shadow: none;
        padding-bottom: 10px;
    }

    table th {
        font-size: 20px;
    }

    table td {
        font-size: 22px;
    }

    .characters {
        grid-template-columns: repeat(3, 1fr);
    }

    .card p {
        font-size: 20px;
        margin-top: 5px;
    }

    .about-game img {
        max-width: 250px;
        margin-top: -10px;
    }

    .about-game #title1 {
        font-size: 27px;
        margin-top: -30px;
        margin-bottom: 15px;
    }

    .about-game p {
        font-size: 20px;
        margin-right: 20px;
    }

    .about-game #title2 {
        font-size: 26px;
        margin-top: 40px;
    }

    .game-platform-icons {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .game-platform-icons #platform-pc {
        width: 50%;
        height: auto;
        max-width: 80px;
        margin-left: -240px;
    }

    .game-platform-icons #platform-xboxseries {
        width: 50%;
        height: auto;
        max-width: 210px;
    }

    .game-platform-icons #platform-ps5 {
        width: 50%;
        height: auto;
        max-width: 130px;
    }

    .game-platform-icons #platform-xboxone {
        width: 50%;
        height: auto;
        max-width: 130px;
    }

    .game-platform-icons #platform-ps4 {
        width: 50%;
        height: auto;
        max-width: 130px;
    }

    .where-to-watch {
        background-position: center;
        flex-direction: column;
        margin-bottom: 60px;
    }

    #netiflix-cyberpunk-logo {
        max-width: 350px;
    }

    .score-icons #rotten-tomatoes-critics-icon {
        margin-left: 85px;
    }

    #where-to-watch-text {
        font-size: 22px;
        margin-right: 180px;
    }
    
    #where-to-watch-link {
        font-size: 21px;
        margin-top: -25px;
    }

    .video-text-container #video-text1 {
        display: none;
    }

    .iframe-container .trailer-iframe1 {
        margin-right: 30px;
        margin-top: 50px;
        width: 500px;
        height: 280px;
    }

    .video-text-container #video-text2 {
        display: none;
    }

    .iframe-container .trailer-iframe2 {
        margin-right: 30px;
        margin-top: 20px;
        width: 500px;
        height: 280px;
    }

    .personal-social-icons svg {
        max-width: 25px;
    }

    .footer img {
        display: none;
    }

    #ER-phrase {
        display: none;
    }


    .footer hr {
        display: none;
    }

    #back-to-top {
        display: none;
    }

    .modal #video {
        width: 800px;
        height: 455px;
    }
}

/* Smartphones */
@media screen and (max-width: 767px) {
    .navbar {
        display: none;
    }

    .header-title img {
        max-width: 320px;
        margin-bottom: -40px;
        margin-top: -100px;
    }

    .header-title hr {
        width: 60%;
        margin-bottom: -15px;
    }

    .header-title h2 {
        font-size: 23px;
        padding-top: 35px;
    }

    .more-info {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 45px;
        padding-right: 45px;
    }

    .more-info2 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .title2, .title3, .title4, .title5, .title6 {
        font-size: 50px;
        letter-spacing: -7px;
    }

    .hr, .hr2, .hr3, .hr4, .hr5 {
        width: 55%;
        margin-top: 20px;
    }

    .hr2 {
        width: 65%;
    }

    .hr3 {
        width: 80%;
    }

    .hr4 {
        width: 75%;
    }

    .hr5 {
        width: 80%;
    }

    .music1, .music2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 35px;
        margin-bottom: -10px;
    }

    .music1 img, .music2 img {
        order: -1;
        margin-top: -10px;
        margin-left: 0px;
    }

    .music1 h2, .music2 h2 {
        order: 0;
        font-size: 30px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .music1 sub, .music2 sub {
        order: 1;
        margin-top: 0px;
        margin-left: 0px;
    }

    .button-container {
        order: 2;
        margin-top: 20px;
        margin-bottom: -30px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .social-icons {
        order: 3;
        margin-top: 20px; 
        padding-left: 0;
        margin-left: 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .music1 p, .music2 p {
        order: 4;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .music1 cite, .music2 cite {
        order: 5;
        padding-left: 0;
    }

    .table-wrapper {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        text-shadow: none;
        padding-bottom: 10px;
    }

    table th {
        font-size: 18px;
    }

    table td {
        font-size: 20px;
    }

    .characters {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .characters p {
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .card h2 {
        font-size: 26px;
        color: #dacf3f;
        margin-top: 10px;
    }

    .card p {
        font-size: 20px;
        margin-top: 5px;
    }

    .about-game {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 35px;
        margin-bottom: -10px;
    }

    .about-game img {
        order: -1;
        margin-top: -10px;
        max-width: 260px;
    }

    .about-game #title1 {
        order: 0;
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .about-game p {
        order: 1;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-game #title2 {
        order: 2;
        font-size: 26px;
        margin-top: 40px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .game-platform-icons {
        order: 3;
        margin-top: 20px; 
        padding-left: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-platform-icons #platform-pc {
        width: 15%;
        height: auto;
        max-width: 90px;
        margin-left: 0;
    }

    .game-platform-icons #platform-xboxseries {
        width: 30%;
        height: auto;
        max-width: 220px;
    }

    .game-platform-icons #platform-ps5 {
        width: 25%;
        height: auto;
        max-width: 140px;
    }

    .game-platform-icons #platform-xboxone {
        width: 25%;
        height: auto;
        max-width: 140px;
    }

    .game-platform-icons #platform-ps4 {
        width: 25%;
        height: auto;
        max-width: 140px;
    }

    .where-to-watch {
        background-position: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 60px;
    }

    #netiflix-cyberpunk-logo {
        order: -1;
        max-width: 330px;
        margin-left: 0px;
    }

    #indicative-classification {
        order: 0;
        vertical-align: middle;
        width: 100%;
        max-width: 25px;
        margin-left: 0px;
    }

    .where-to-watch p {
        font-size: 14px;
    }

    .score-icons {
        order: 1;
        align-items: center;
    }

    .score-icons #rotten-tomatoes-critics-icon {
        margin-left: 35px;
        width: 5%;
    }

    .score-icons #rotten-tomatoes-audience-icon {
        margin-left: 50px;
        width: 4%;
    }

    .score-icons #imdb-icon {
        margin-left: 70px;
        width: 5%;
    }
    
    .score-text {
        order: 2;
        justify-content: center;
    }

    .score-text #rotten-tomatoes-critics-score {
        margin-left: 0px;
    }

    .score-text #rotten-tomatoes-audience-score {
        margin-left: -35px;
    }

    .score-text #imdb-score {
        margin-left: -20px;
    }

    #where-to-watch-text {
        order: 3;
        font-size: 21px;
        margin-right: 0px;
        margin-left: -30px;
    }
    
    #where-to-watch-link {
        order: 4;
        font-size: 19px;
        margin-top: -25px;
        margin-left: -30px;
    }

    .video-text-container #video-text1 {
        display: none;
    }

    .iframe-container .trailer-iframe1 {
        order: 5;
        margin-left: -30px;
        margin-right: 0px;
        margin-top: 30px;
        width: 300px;
        height: 175px;
    }

    .video-text-container #video-text2 {
        display: none;
    }

    .iframe-container .trailer-iframe2 {
        order: 6;
        margin-left: -30px;
        margin-right: 0px;
        margin-top: 20px;
        width: 300px;
        height: 175px;
    }

    .footer p {
        font-size: 12px;
    }

    #copyright {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    #my-links {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .personal-social-icons svg {
        max-width: 22px;
    }

    #repository-link {
        margin-top: -20px;
    }

    .footer img {
        display: none;
    }

    #ER-phrase {
        display: none;
    }

    .footer hr {
        display: none;
    }

    #repository-link {
        font-size: 9px;
    }

    #back-to-top {
        display: none;
    }

    .modal #video {
        width: 400px;
        height: 220px;
    }
}
